.navHeader {
  background-color: rgb(136, 12, 12);
  height: 45px;
}

h1 {
  text-align: center;
}

button {
  color: green
}


a {
  padding: 10px;
 color: black;
 font-size: 40px;
}


div {
  text-align: center;
  

}


div.Candle__container {

  text-align: center;

}


main {
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


div.leaveAReview {
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-top: 5%;
}


form.form {
  font-size: 60px;
  
}


ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
